<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
        <title>Recipe Show Page</title>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <div id="showWrapper" class="container-fluid">
            <h1><%=recipe.name%></h1>
            <h6><%=recipe.sides%></h6><br>
            <img id="showImg" src="<%=recipe.img%>" alt="">

            <h2>Ingredients</h2><br>
            <p><%=recipe.ingredients%></p><br>
            <h2>Cooking Instructions</h2><br>
            <h6>Step 1</h6><br>
            <p><%=recipe.cooking1%></p><br>
            <h6>Step 2</h6><br>
            <p><%=recipe.cooking2%></p><br>
            <h6>Step 3</h6><br>
            <p><%=recipe.cooking3%></p><br>
            <h6>Step 4</h6><br>
            <p><%=recipe.cooking4%></p><br>
            <h6>Step 5</h6><br>
            <p><%=recipe.cooking5%></p><br>

            <% if(username === 'Erik'){%>
        <a id="navLinks" href="/recipes/<%=recipe.id%>/edit">Edit Recipe</a><br><br>
        <%} else{}%>
        <form id="showSaveBtn" action="/saved/?_method=PATCH" method="post">
            <input type="hidden" name="name" value="<%=recipe.name%>">
            <input type="hidden" name="sides" value="<%=recipe.sides%>">
            <input type="hidden" name="img" value="<%=recipe.img%>">
            <input type="hidden" name="ingredients" value="<%=recipe.ingredients%>">
            <input type="hidden" name="cooking1" value="<%=recipe.cooking1%>">
            <input type="hidden" name="cooking2" value="<%=recipe.cooking2%>">
            <input type="hidden" name="cooking3" value="<%=recipe.cooking3%>">
            <input type="hidden" name="cooking4" value="<%=recipe.cooking4%>">
            <input type="hidden" name="cooking5" value="<%=recipe.cooking5%>">
            <% if(username){%>
            <input type="submit" value="Save Recipe">
            <%} else{}%>
        </form><br>
        <form id="showDelBtn" action="/recipes/<%=recipe.id%>?_method=DELETE" method="post">
            <% if(username === 'Erik'){ %>
            <input type="submit" value="Delete Recipe">
            <%}%>
        </form><br>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>
